#interestPage{height: 100%;width: 16rem;}
#interestBanner{height: 7.69rem;width: 16rem;background: red;}
.backGround1{background: url(../../img/banner/backGround1.jpg) repeat;height: 1.39rem;width: 16rem;}
