<div id="wrap_goodProduct">
	<div class="nav-top">
		<a ng-click="returnFind()"><</a>
		<div class="goodProduct_search1"><img src="img/icon/search.png"/><input type="text" placeholder="精品"/><a href="">搜索</a></div>
	</div>
	<div class="goodProduct_change">
		<ul>
			<li>
				<a>单品</a>
				<div class="goodProduct_underLine"></div>
			</li>
			<li>
				<a>主题</a>
				<div></div>
			</li>
		</ul>
	</div>
	<div class="goodProduct_search2"><img src="img/secondPage_img/search2.png"/><span>搜索的结果</span></div>
	<div class="goodProduct_list_items">
		<div>
			<img src="img/secondPage_img/secPage1.jpg" />
			<span class="s1">￥873.8</span><span class="s2">￥1028.0</span>
			<p>茶油奶奶 山茶油精品家庭装500ML*6</p>
		</div>
		<div>
			<img src="img/secondPage_img/secPage2.png" />
			<span class="s1">￥168.0</span><span class="s2">￥201.0</span>
			<p>精品原生态印度小叶紫檀</p>
		</div>
	</div>
</div>