<div id="wrap_regist">
	<div class="nav-top"><a href=""><</a><h2>专题</h2></div>
	<div class="regist_logo">
		<img src="img/icon2/logo.png" />
	</div>
	<div class="regist_form">
		<form action="" method="post">
			<div class="form_tel"><img src="img/icon2/user_icon.png"/><input type="text" placeholder="请输入您的手机号" /></div>
			<div class="form_pwd"><img src="img/icon2/pwd_icon.png"/><input type="password" placeholder="请输入密码" /></div>
			<a class="forget_pwd">忘记密码？</a>
			<a class="login_account">登录账户</a>
			<a class="new_user">新注册用户</a>
		</form>
	</div>
</div>