#productInfo{width: 16rem;}
#productInfo_title{height: 2.34rem;width: 16rem;background: #ff5011;padding: 0.32rem 0.32rem 0 0;}
#goProductSort{height: 1.73rem;width: 2.6rem;text-align: center;float: left;margin-top: 0.2rem;font-size: 1.2rem;color: #fff;}
#goProductSort i{display: block;}
#productInfo_input{height: 1.73rem;width: 12.95rem;background: #fff;border: 4px solid #fda58d;
			border-radius: 2px;float: right;position: relative;}
#productInfo_input img{height: 0.87rem;width: 0.87rem;line-height: 1.73rem;position: absolute;left: 0.4rem;top: 0.2rem;}
#productInfo_input input{height: 1.39rem;width: 9.13rem;border: none;display: inline-block;line-height: 1.39rem;
				padding: 0 0 0 1.8rem;font-family: "微软雅黑";}
#productInfo_input span{font-size: 0.61rem;color: #ffedbf;font-family: "微软雅黑";width: 1.82rem;height: 1.41rem;
				background: #ff4e0c;line-height: 1.41rem;text-align: center;position: absolute;right: 0;}
#goBackSort{height: 1.34rem;width: 16rem;background: #ececec;line-height: 1.34rem;padding-left: 0.56rem;
				font-size: 0.58rem;color: #787878;}
#goBackSort i{margin-right: 0.3rem;font-size: 0.65rem;}

#sort_productInfo ul{width: 16rem;padding: 0 0.5rem;}
#sort_productInfo li{padding:0.5rem 0 0 0;display: inline-block;width: 7.08rem;height: 10.74rem;font-size: 0.565rem;font-family: '微软雅黑';
			color: #6b5e56;overflow-y: hidden;background: #fff;}
#sort_productInfo li:nth-child(2n){margin-left: 0.55rem;}
#sort_productInfo li img{height: 7.04rem;width: 7.04rem;}
.now_price{height: 1.17rem;width: 2.26rem;background:url(../../../img/icon/pri-bg.png) no-repeat;display: inline-block;
				background-size: 2.26rem 1.17rem;font-size: 0.6rem;color: #fff;text-align: center;line-height: 1.17rem;}
.old_price{color: #848077;text-decoration: line-through;float: right;line-height: 1.17rem;}
.interest_product_name{line-height: 0.8rem;}
.getMore{height: 1.9rem;width: 16rem;background: #f8f8f8;font-size: 0.6rem;color: #b3b3b3;font-family: '微软雅黑';
		line-height: 1.9rem;text-align: center;border-top: 1px solid #efefef;border-bottom: 1px solid #efefef;margin-bottom: 2.6rem;}
.getMore i{margin-right: 0.2rem;}
