<div id="sort_page">
	<div id="sort_title">
		<a href="#/sousuoPage"><input type="text" name="" placeholder="所搜您喜欢的专题或商品" readonly="readonly"></a>
		<span><img src="img/icon/search.png"></span>
	</div>

	<div id="sort_item" ng-controller="sortCtrl">
		<ul>
			<li ng-repeat="x in sortArr">
				<a href="#/productInfo" ng-click='setId(x.id)'>
					<img ng-src="{{x.icon}}">
					<span>{{x.name}}</span>
				</a>
			</li>
		</ul>
		<div class="clearfix"></div>
		<div class="sort_bg"></div>
	</div>
</div>