<div id="sousuoPage">
	<div id="sousuoPage_title">
		<div id="allSortName" ng-click="backSort()">
			<i class="fa fa-th"></i>
			<span>类别</span>
		</div>
		<div id='sousuoPage_input'>
			<img lazy-src="img/icon/search.png"/>
			<input type="text" placeholder="所搜您喜欢的专题或商品" ng-model="text1" required=""/>
			<span ng-click="addHistory()">搜索</span>
		</div>
	</div>
	<div id="hot_product" ng-controller="sousuoPageCtrl">
		<h2>热门搜索</h2>
		<ul>
			<li ng-repeat="x in sousuoPageArr">{{x.keywords}}</li>
		</ul>
	</div>
	<div id="sousuo_history">
		<h2>搜索历史</h2>
		<ul>
			<li ng-repeat="x in arrAddHistory">
				{{x}}
			</li>
		</ul>
	</div>
	<div id="clearHistory">
		<img lazy-src="img/icon/deleteimg.png" />
		<span ng-click="clearAll()">清除搜索历史</span>
	</div>
</div>
